* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background: #E9ECF8;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* section container */
.main-section-container {
  display: flex;
  justify-content: space-between;
}
/* icon container */
.icon-container {
  padding-top: 20px;
  padding-left: 10px;
}
.icon-container img {
  width: 150px;
  height: 80px;
}
/* content container */
.content-container {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}
.content-container #text-content {
  height: 450px;
  width: 700px;
  margin: 10px;
  padding: 10px;
  font-size: 3.2rem;
  font-weight: 400;
  border: none;
  resize: none;
  background: #E9ECF8;
  border-radius: 15px;
}
.content-container #text-content::before {
  border: none;
}

.content-container p {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.content-container p img {
  width: 12px;
  height: 12px;
}

.content-container .btn-container {
  display: flex;
}
.content-container .btn-container .encrypt-btn {
  margin-right: 7px;
  gap: 8px;
  width: 288px;
  height: 67px;
  background: #ff0000;
  color: #FFFFFF;
  border-radius: 20px;
  border-color:#f6ce03;
  cursor: pointer;
}

.content-container .btn-container .decrypt-btn {
  margin-left: 7px;
  gap: 8px;
  width: 288px;
  height: 67px;
  background: #f6ce03;
  color: #000000;
  border-radius: 20px;
  border-color: #ff0000;
  cursor: pointer;
}

/* text right container */

.text-container .rectangle {
  position: absolute;
  height: 670px;
  width: 530px;
  right: 20px;
  bottom: 20px;
}

/* text image container */
.text-image-container {
  position: absolute;
  padding: 0px;
  gap: 16px;
  text-align: center;
  font-size: 1.4rem;
  width: 300px;
  height: 122px;
  /* left: 1100px; */
  right: 150px;
  top: 500px;
}
.text-img {
  position: absolute;
  width: 300px;
  height: 250px;
  /* left: 1100px; */
  right: 150px;
  top: 160px;
} 

/* encrypted text */
.encrypted-text {
  position: absolute;
  font-size: 1.6rem;
  text-align: justify;
  left: 1030px;
  right: 56px;
}