* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background: #E9ECF8;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* section container */
.main-section-container {
  display: flex;
  justify-content: space-between;
}
/* icon container */
.icon-container {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
}
.icon-container img {
  width: 150px;
  height: 80px;
}

/* content container */
.content-container {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}
.content-container #text-content {
  height: 380px;
  width: 700px;
  margin: 10px;
  padding: 10px;
  font-size: 3.2rem;
  font-weight: 400;
  border: none;
  resize: none;
  overflow:auto;
  background: #E9ECF8;
  border-radius: 15px;
}

.content-container p {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.content-container p img {
  width: 12px;
  height: 12px;
}

.content-container .btn-container {
  display: flex;
  justify-content: space-around;
}
.content-container .btn-container .encrypt-btn,
.content-container .btn-container .decrypt-btn {
  background: #E9ECF8;
  border: none;
  cursor: pointer;
}
.encrypt-btn .img-encrypt-btn,
.decrypt-btn .img-decrypt-btn {
  width: 180px;
  height: 160px;
  background: #E9ECF8;
}

.content-container .btn-container .encrypt-btn:hover,
.content-container .btn-container .decrypt-btn:hover{
  opacity: 80%;
}

/* text right container */
.text-container {
  display: flex;
  flex-direction: column;
}
.text-container .rectangle {
  position: absolute;
  height: 670px;
  width: 530px;
  right: 20px;
  bottom: 20px;
}

/* text image container */
.text-image-container {
  position: absolute;
  padding: 0px;
  gap: 16px;
  text-align: center;
  font-size: 1.4rem;
  width: 300px;
  height: 122px;
  /* left: 1100px; */
  right: 140px;
  top: 500px;
}
.text-img {
  position: absolute;
  width: 300px;
  height: 250px;
  /* left: 1100px; */
  right: 140px;
  top: 160px;
} 

/* encrypted text */
.encrypted-text {
  position: absolute;
  font-size: 2.0rem;
  text-align: justify;
  left: 67%;
  right: 8%;
}

.copy-btn {
  display: none;
  position: absolute;
  background: rgb(233, 34, 34);
  margin-right: 7px;
  gap: 8px;
  width: 288px;
  height: 67px;
  color: #fff;
  border: 4px solid #FFD700;
  border-radius: 20px;
  right: 150px;
  top: 550px;
  font-size: 2.0rem;
  cursor: pointer;
}

.copy-btn:hover {
  background: #FFD700;
  border: 4px solid rgb(233, 34, 34);
}